<!DOCTYPE html>
<html>
<head>
  <title>Body Building Supplement Name Generator | <%= @firstword %> <%= @secondword %><%= @thirdword %> <%= @fourthword %></title>
  <%= stylesheet_link_tag :all %>
<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Black+Ops+One' %>

  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
